<div class="page_container">

  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="input_forms">

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true, :required => true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password, :required => true %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, :required => true %></div>

      <div><%= f.label :location %><br />
      <%= f.text_field :location, :required => true %></div>

    </div> <!-- input_forms close -->

    <div class="sign_form_button"><%= f.submit "Sign up", :class => "general_button" %></div>
  <% end %>

  <div class="sign_form_button">
    <%= render "devise/shared/links" %>

  </div>

</div>