<div class="page_container">

  <h1>Quick Search</h1>


  <%= form_tag pages_show_all_qs_path do  %>
    <div class="input_forms">

      <span class="optional">Required - </span>
      <%= label_tag(:location, "City:") %><br>
      <%= text_field_tag :location, nil, :required => true, :placeholder => 'Required', :id => 'quick_search_city' %>

      <br>
      <br>

      <span class="optional">Optional - </span>
      <%= render :partial => 'artists/artist_form' %>
    </div> <!-- input_forms close -->

    <%= submit_tag 'Get Events', :class => 'get_event_button' %>

  <% end %>

</div>
